# 所有新实验配置和产物统一放在这里
/output/

**/data/
**/__pycache__/
datasets/
checkpoints/
BLcheckpoints/
train_command.sh
eval_command.sh
quick_command.sh
version*/
**/*cache*/
**/*cache/
**/*output*/
**/*output/
AGENTS.md
raw_data_info.txt